:host{
    display: flex;
    flex-direction: column;
    // align-items: center;
    // align-items: stretch;
    justify-content: center;
    // align-items: flex-end;
    gap: 10px;
    font-family: sans-serif;

    .question{
        background-color: lightblue;
        color: black;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 300px;
        // align-items: stretch;
        // width: 500px;
        // width: ;
        button{
            letter-spacing: 0.5px;
            text-transform: uppercase;
            cursor: pointer;
            background-color: white;
            border: rgb(87, 87, 170);
            outline: 2px green;
            border-radius: 3px;
            padding: 5px;
            width: 230px;
            box-shadow: 5px 10px #888888;

        }
        
        .selected{
            color: whitesmoke;
            background-color: lightseagreen;
            font-weight: 600;
            box-shadow: 3px solid gray;
        }
        .correct{
            background-color: rgb(116, 190, 116);
            color: white;
            font-size: 20px;
        }
    }
    .submit{
        align-self: flex-end;
        border: 2px solid cadetblue;
        width: 150px;
        height: 55px;
        font-weight: 600;
        text-transform: uppercase;
        background-color: rgb(137, 137, 228);
        border-radius: 10px;
        text-align: center;
        font-size: 24px;
        color: white;
        border-radius: 5px;
        
    }
}